.App {
  text-align: center;
}

.welcom {
  margin-top: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

/* Note: You need to have Bootstrap Icons included for the icons (bi-* classes) */

.user-card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 10px !important;
  /* Rounded corners for the whole card */
}

.user-card:hover {
  transform: translateY(-5px);
  /* Lift the card on hover */
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
  /* Deeper shadow on hover */
}

/* Custom gradient header */
.card-header-custom {
  background: linear-gradient(45deg, #007bff, #0056b3);
  /* Blue Gradient */
  border-bottom: none;
}